ARG	ARM	
ARG	AUS	
ARG	AUT	
ARG	BGD	
ARG	BGR	
ARG	BOL	
ARG	CAN	
ARG	CHL	
ARG	CHN	
ARG	CMR	
ARG	COL	
ARG	CRI	
ARG	CYP	
ARG	DNK	
ARG	ECU	
ARG	EGY	
ARG	ESP	
ARG	FIN	
ARG	FRA	
ARG	GBR	
ARG	GER	
ARG	GRC	
ARG	GTM	
ARG	HKG	
ARG	HND	
ARG	HUN	
ARG	IDN	
ARG	IND	
ARG	IRL	
ARG	IRN	
ARG	ITA	
ARG	JOR	
ARG	JPN	
ARG	KEN	
ARG	KOR	
ARG	KWT	
ARG	LKA	
ARG	LVA	
ARG	MAR	
ARG	MAR	
ARG	MDA	
ARG	MEX	
ARG	MWI	
ARG	MYS	
ARG	NLD	
ARG	NOR	
ARG	NPL	
ARG	NZL	
ARG	PAK	
ARG	PAN	
ARG	PER	
ARG	PHL	
ARG	POL	
ARG	PRT	
ARG	ROM	
ARG	SGP	
ARG	SWE	
ARG	THA	
ARG	TTO	
ARG	TUR	
ARG	TWN	
ARG	URY	
ARG	USA	
ARG	VEN	
ARG	ZAF	
ARM	ARG	
ARM	AUS	
ARM	AUT	
ARM	BGD	
ARM	BGR	
ARM	BOL	
ARM	CAN	
ARM	CHN	
ARM	CHL	
ARM	CMR	
ARM	COL	
ARM	CRI	
ARM	CYP	
ARM	DNK	
ARM	ECU	
ARM	EGY	
ARM	ESP	
ARM	FIN	
ARM	FRA	
ARM	GER	
ARM	GBR	
ARM	GRC	
ARM	GTM	
ARM	HKG	
ARM	HUN	
ARM	HUN	
ARM	IDN	
ARM	IND	
ARM	IRL	
ARM	IRN	
ARM	ITA	
ARM	JOR	
ARM	JPN	
ARM	KEN	
ARM	KOR	
ARM	KWT	
ARM	LKA	
ARM	LVA	
ARM	MAC	
ARM	MAR	
ARM	MDA	
ARM	MEX	
ARM	MWI	
ARM	MYS	
ARM	NLD	
ARM	NOR	
ARM	NPL	
ARM	NZL	
ARM	PAK	
ARM	PAN	
ARM	PER	
ARM	PHL	
ARM	POL	
ARM	PRT	
ARM	ROM	
ARM	SGP	
ARM	SWE	
ARM	THA	
ARM	TTO	
ARM	TUR	
ARM	TWN	
ARM	URY	
ARM	USA	
ARM	VEN	
ARM	ZAF	
AUS	ARG	
AUS	ARM	
AUS	AUT	
AUS	BGD	
AUS	BGR	
AUS	BOL	
AUS	CAN	
AUS	CHL	
AUS	CHN	
AUS	CMR	
AUS	COL	
AUS	CRI	
AUS	CYP	
AUS	DNK	
AUS	ECU	
AUS	EGY	
AUS	ESP	
AUS	FIN	
AUS	FRA	
AUS	GBR	
AUS	GER	
AUS	GRC	
AUS	GTM	
AUS	HKG	
AUS	HND	
AUS	HUN	
AUS	IDN	
AUS	IND	
AUS	IRL	
AUS	IRN	
AUS	ITA	
AUS	JOR	
AUS	JPN	
AUS	KEN	
AUS	KOR	
AUS	KWT	
AUS	LKA	
AUS	LVA	
AUS	MAC	
AUS	MAR	
AUS	MDA	
AUS	MEX	
AUS	MWI	
AUS	MYS	
AUS	NLD	
AUS	NOR	
AUS	NPL	
AUS	NZL	
AUS	PAK	
AUS	PAN	
AUS	PER	
AUS	PHL	
AUS	POL	
AUS	PRT	
AUS	ROM	
AUS	SGP	
AUS	SWE	
AUS	THA	
AUS	TTO	
AUS	TUR	
AUS	TWN	
AUS	URY	
AUS	USA	
AUS	VEN	
AUS	ZAF	
AUT	ARG	
AUT	ARM	
AUT	AUS	
AUT	BGD	
AUT	BGR	
AUT	BOL	
AUT	CAN	
AUT	CHL	
AUT	CHN	
AUT	CMR	
AUT	COL	
AUT	CRI	
AUT	CYP	
AUT	DNK	
AUT	ECU	
AUT	EGY	
AUT	ESP	
AUT	FIN	
AUT	FRA	
AUT	GBR	
AUT	GER	
AUT	GRC	
AUT	GTM	
AUT	HKG	
AUT	HND	
AUT	HUN	
AUT	IDN	
AUT	IND	
AUT	IRL	
AUT	IRN	
AUT	ITA	
AUT	JOR	
AUT	JPN	
AUT	KEN	
AUT	KOR	
AUT	KWT	
AUT	LKA	
AUT	LVA	
AUT	MAC	
AUT	MAR	
AUT	MDA	
AUT	MEX	
AUT	MWI	
AUT	MYS	
AUT	NLD	
AUT	NOR	
AUT	NPL	
AUT	NZL	
AUT	PAK	
AUT	PAN	
AUT	PER	
AUT	PHL	
AUT	POL	
AUT	PRT	
AUT	ROM	
AUT	SGP	
AUT	SWE	
AUT	THA	
AUT	TTO	
AUT	TUR	
AUT	TWN	
AUT	URY	
AUT	USA	
AUT	VEN	
AUT	ZAF	
BGD	ARG	
BGD	ARM	
BGD	AUS	
BGD	AUT	
BGD	BGR	
BGD	BOL	
BGD	CAN	
BGD	CHL	
BGD	CHN	
BGD	CMR	
BGD	COL	
BGD	CRI	
BGD	CYP	
BGD	DNK	
BGD	ECU	
BGD	EGY	
BGD	ESP	
BGD	FIN	
BGD	FRA	
BGD	GBR	
BGD	GER	
BGD	GRC	
BGD	GTM	
BGD	HKG	
BGD	HND	
BGD	HUN	
BGD	IDN	
BGD	IND	
BGD	IRL	
BGD	IRN	
BGD	ITA	
BGD	JOR	
BGD	JPN	
BGD	KEN	
BGD	KOR	
BGD	KWT	
BGD	LKA	
BGD	LVA	
BGD	MAC	
BGD	MAR	
BGD	MDA	
BGD	MEX	
BGD	MWI	
BGD	MYS	
BGD	NLD	
BGD	NOR	
BGD	NPL	
BGD	NZL	
BGD	PAK	
BGD	PAN	
BGD	PER	
BGD	PHL	
BGD	POL	
BGD	PRT	
BGD	ROM	
BGD	SGP	
BGD	SWE	
BGD	THA	
BGD	TTO	
BGD	TUR	
BGD	TWN	
BGD	URY	
BGD	USA	
BGD	VEN	
BGD	ZAF	
BGR	ARG	
BGR	ARM	
BGR	AUS	
BGR	AUT	
BGR	BGD	
BGR	BOL	
BGR	CAN	
BGR	CHL	
BGR	CHN	
BGR	CMR	
BGR	COL	
BGR	CRI	
BGR	CYP	
BGR	DNK	
BGR	ECU	
BGR	EGY	
BGR	ESP	
BGR	FIN	
BGR	FRA	
BGR	GBR	
BGR	GER	
BGR	GRC	
BGR	GTM	
BGR	HKG	
BGR	HND	
BGR	HUN	
BGR	IDN	
BGR	IND	
BGR	IRL	
BGR	IRN	
BGR	ITA	
BGR	JOR	
BGR	JPN	
BGR	KEN	
BGR	KOR	
BGR	KWT	
BGR	LKA	
BGR	LVA	
BGR	MAC	
BGR	MAR	
BGR	MDA	
BGR	MEX	
BGR	MWI	
BGR	MYS	
BGR	NLD	
BGR	NOR	
BGR	NPL	
BGR	NZL	
BGR	PAK	
BGR	PAN	
BGR	PER	
BGR	PHL	
BGR	POL	
BGR	PRT	
BGR	ROM	
BGR	SGP	
BGR	SWE	
BGR	THA	
BGR	TTO	
BGR	TUR	
BGR	TWN	
BGR	URY	
BGR	USA	
BGR	VEN	
BGR	ZAF	
BOL	ARG	
BOL	AUS	
BOL	ARM	
BOL	AUT	
BOL	BGD	
BOL	BGR	
BOL	CAN	
BOL	CHL	
BOL	CHN	
BOL	CMR	
BOL	COL	
BOL	CRI	
BOL	CYP	
BOL	DNK	
BOL	ECU	
BOL	EGY	
BOL	ESP	
BOL	FIN	
BOL	FRA	
BOL	GBR	
BOL	GER	
BOL	GRC	
BOL	GTM	
BOL	HKG	
BOL	HND	
BOL	HUN	
BOL	IDN	
BOL	IND	
BOL	IRL	
BOL	IRN	
BOL	ITA	
BOL	JOR	
BOL	JPN	
BOL	KEN	
BOL	KOR	
BOL	KWT	
BOL	LKA	
BOL	LVA	
BOL	MAC	
BOL	MAR	
BOL	MDA	
BOL	MEX	
BOL	MWI	
BOL	MYS	
BOL	NLD	
BOL	NOR	
BOL	NPL	
BOL	NZL	
BOL	PAK	
BOL	PAN	
BOL	PER	
BOL	PHL	
BOL	POL	
BOL	PRT	
BOL	ROM	
BOL	SGP	
BOL	SWE	
BOL	THA	
BOL	TTO	
BOL	TUR	
BOL	TWN	
BOL	URY	
BOL	USA	
BOL	VEN	
BOL	ZAF	
CAN	ARG	
CAN	ARM	
CAN	AUS	
CAN	AUT	
CAN	BGD	
CAN	BGR	
CAN	BOL	
CAN	CHL	
CAN	CHN	
CAN	CMR	
CAN	COL	
CAN	CRI	
CAN	CYP	
CAN	DNK	
CAN	ECU	
CAN	EGY	
CAN	ESP	
CAN	FIN	
CAN	FRA	
CAN	GBR	
CAN	GER	
CAN	GRC	
CAN	GTM	
CAN	HKG	
CAN	HND	
CAN	HUN	
CAN	IDN	
CAN	IND	
CAN	IRL	
CAN	IRN	
CAN	ITA	
CAN	JOR	
CAN	JPN	
CAN	KEN	
CAN	KOR	
CAN	KWT	
CAN	LKA	
CAN	LVA	
CAN	MAC	
CAN	MAR	
CAN	MDA	
CAN	MEX	
CAN	MWI	
CAN	MYS	
CAN	NLD	
CAN	NOR	
CAN	NPL	
CAN	NZL	
CAN	PAK	
CAN	PAN	
CAN	PER	
CAN	PHL	
CAN	POL	
CAN	PRT	
CAN	ROM	
CAN	SGP	
CAN	SWE	
CAN	THA	
CAN	TTO	
CAN	TUR	
CAN	TWN	
CAN	URY	
CAN	USA	
CAN	VEN	
CAN	ZAF	
CHL	ARG	
CHL	ARM	
CHL	AUS	
CHL	AUT	
CHL	BGD	
CHL	BGR	
CHL	BOL	
CHL	CAN	
CHL	CHN	
CHL	CMR	
CHL	COL	
CHL	CRI	
CHL	CYP	
CHL	DNK	
CHL	ECU	
CHL	EGY	
CHL	ESP	
CHL	FIN	
CHL	FRA	
CHL	GBR	
CHL	GER	
CHL	GRC	
CHL	GTM	
CHL	HKG	
CHL	HND	
CHL	HUN	
CHL	IDN	
CHL	IND	
CHL	IRL	
CHL	IRN	
CHL	ITA	
CHL	JOR	
CHL	JPN	
CHL	KEN	
CHL	KOR	
CHL	KWT	
CHL	LKA	
CHL	LVA	
CHL	MAC	
CHL	MAR	
CHL	MDA	
CHL	MEX	
CHL	MWI	
CHL	MYS	
CHL	NLD	
CHL	NOR	
CHL	NPL	
CHL	NZL	
CHL	PAK	
CHL	PAN	
CHL	PER	
CHL	PHL	
CHL	POL	
CHL	PRT	
CHL	ROM	
CHL	SGP	
CHL	SWE	
CHL	THA	
CHL	TTO	
CHL	TUR	
CHL	TWN	
CHL	URY	
CHL	USA	
CHL	VEN	
CHL	ZAF	
CHN	ARG	
CHN	ARM	
CHN	AUS	
CHN	AUT	
CHN	BGD	
CHN	BGR	
CHN	BOL	
CHN	CAN	
CHN	CHL	
CHN	CMR	
CHN	COL	
CHN	CRI	
CHN	CYP	
CHN	DNK	
CHN	ECU	
CHN	EGY	
CHN	ESP	
CHN	FIN	
CHN	FRA	
CHN	GBR	
CHN	GER	
CHN	GRC	
CHN	GTM	
CHN	HKG	
CHN	HND	
CHN	HUN	
CHN	IDN	
CHN	IND	
CHN	IRL	
CHN	IRN	
CHN	ITA	
CHN	JOR	
CHN	JPN	
CHN	KEN	
CHN	KOR	
CHN	KWT	
CHN	LKA	
CHN	LVA	
CHN	MAC	
CHN	MAR	
CHN	MDA	
CHN	MEX	
CHN	MWI	
CHN	MYS	
CHN	NLD	
CHN	NOR	
CHN	NPL	
CHN	NZL	
CHN	PAK	
CHN	PAN	
CHN	PER	
CHN	PHL	
CHN	POL	
CHN	PRT	
CHN	ROM	
CHN	SGP	
CHN	SWE	
CHN	THA	
CHN	TTO	
CHN	TUR	
CHN	TWN	
CHN	URY	
CHN	USA	
CHN	VEN	
CHN	ZAF	
CMR	ARG	
CMR	AUS	
CMR	AUT	
CMR	BGD	
CMR	BGR	
CMR	CAN	
CMR	CHL	
CMR	CHN	
CMR	COL	
CMR	CRI	
CMR	CYP	
CMR	BOL	
CMR	ARM	
CMR	DNK	
CMR	ECU	
CMR	EGY	
CMR	ESP	
CMR	FIN	
CMR	FRA	
CMR	GBR	
CMR	GER	
CMR	GRC	
CMR	GTM	
CMR	HKG	
CMR	HND	
CMR	HUN	
CMR	IDN	
CMR	IND	
CMR	IRL	
CMR	IRN	
CMR	ITA	
CMR	JOR	
CMR	JPN	
CMR	KEN	
CMR	KOR	
CMR	KWT	
CMR	LKA	
CMR	LVA	
CMR	MAC	
CMR	MAR	
CMR	MDA	
CMR	MEX	
CMR	MWI	
CMR	MYS	
CMR	NLD	
CMR	NOR	
CMR	NPL	
CMR	NZL	
CMR	PAK	
CMR	PAN	
CMR	PER	
CMR	PHL	
CMR	POL	
CMR	PRT	
CMR	ROM	
CMR	SGP	
CMR	SWE	
CMR	THA	
CMR	TTO	
CMR	TUR	
CMR	TWN	
CMR	URY	
CMR	USA	
CMR	VEN	
CMR	ZAF	
COL	ARG	
COL	ARM	
COL	AUS	
COL	AUT	
COL	BGD	
COL	BGR	
COL	BOL	
COL	CAN	
COL	CHL	
COL	CHN	
COL	CMR	
COL	CRI	
COL	CYP	
COL	DNK	
COL	ECU	
COL	EGY	
COL	ESP	
COL	FIN	
COL	FRA	
COL	GBR	
COL	GER	
COL	GRC	
COL	GTM	
COL	HKG	
COL	HND	
COL	HUN	
COL	IDN	
COL	IND	
COL	IRL	
COL	IRN	
COL	ITA	
COL	JOR	
COL	JPN	
COL	KEN	
COL	KOR	
COL	KWT	
COL	LKA	
COL	LVA	
COL	MAC	
COL	MAR	
COL	MDA	
COL	MEX	
COL	MWI	
COL	MYS	
COL	NLD	
COL	NOR	
COL	NPL	
COL	NZL	
COL	PAK	
COL	PAN	
COL	PER	
COL	PHL	
COL	POL	
COL	PRT	
COL	ROM	
COL	SGP	
COL	SWE	
COL	THA	
COL	TTO	
COL	TUR	
COL	TWN	
COL	URY	
COL	USA	
COL	VEN	
COL	ZAF	
CRI	ARG	
CRI	ARM	
CRI	AUS	
CRI	AUT	
CRI	BGD	
CRI	BGR	
CRI	BOL	
CRI	CAN	
CRI	CHL	
CRI	CHN	
CRI	CMR	
CRI	COL	
CRI	CYP	
CRI	DNK	
CRI	ECU	
CRI	EGY	
CRI	ESP	
CRI	FIN	
CRI	FRA	
CRI	GBR	
CRI	GER	
CRI	GRC	
CRI	GTM	
CRI	HKG	
CRI	HND	
CRI	HUN	
CRI	IDN	
CRI	IND	
CRI	IRL	
CRI	IRN	
CRI	ITA	
CRI	JOR	
CRI	JPN	
CRI	KEN	
CRI	KOR	
CRI	KWT	
CRI	LKA	
CRI	LVA	
CRI	MAC	
CRI	MAR	
CRI	MDA	
CRI	MEX	
CRI	MWI	
CRI	MYS	
CRI	NLD	
CRI	NOR	
CRI	NPL	
CRI	NZL	
CRI	PAK	
CRI	PAN	
CRI	PER	
CRI	PHL	
CRI	POL	
CRI	PRT	
CRI	ROM	
CRI	SGP	
CRI	SWE	
CRI	THA	
CRI	TTO	
CRI	TUR	
CRI	TWN	
CRI	URY	
CRI	USA	
CRI	VEN	
CRI	ZAF	
CYP	ARG	
CYP	ARM	
CYP	AUS	
CYP	AUT	
CYP	BGD	
CYP	BGR	
CYP	BOL	
CYP	CAN	
CYP	CHL	
CYP	CHN	
CYP	CMR	
CYP	COL	
CYP	CRI	
CYP	DNK	
CYP	ECU	
CYP	EGY	
CYP	ESP	
CYP	FIN	
CYP	FRA	
CYP	GBR	
CYP	GER	
CYP	GRC	
CYP	GTM	
CYP	HKG	
CYP	HND	
CYP	HUN	
CYP	IDN	
CYP	IND	
CYP	IRL	
CYP	IRN	
CYP	ITA	
CYP	JOR	
CYP	JPN	
CYP	KEN	
CYP	KOR	
CYP	KWT	
CYP	LKA	
CYP	LVA	
CYP	MAC	
CYP	MAR	
CYP	MDA	
CYP	MEX	
CYP	MWI	
CYP	MYS	
CYP	NLD	
CYP	NOR	
CYP	NPL	
CYP	NZL	
CYP	PAK	
CYP	PAN	
CYP	PER	
CYP	PHL	
CYP	POL	
CYP	PRT	
CYP	ROM	
CYP	SGP	
CYP	SWE	
CYP	THA	
CYP	TTO	
CYP	TUR	
CYP	TWN	
CYP	URY	
CYP	USA	
CYP	VEN	
CYP	ZAF	
DNK	ARG	
DNK	ARM	
DNK	AUS	
DNK	AUT	
DNK	BGD	
DNK	BGR	
DNK	BOL	
DNK	CAN	
DNK	CHL	
DNK	CHN	
DNK	CMR	
DNK	COL	
DNK	CRI	
DNK	CYP	
DNK	ECU	
DNK	EGY	
DNK	ESP	
DNK	FIN	
DNK	FRA	
DNK	GBR	
DNK	GER	
DNK	GRC	
DNK	GTM	
DNK	HKG	
DNK	HND	
DNK	HUN	
DNK	IDN	
DNK	IND	
DNK	IRL	
DNK	IRN	
DNK	ITA	
DNK	JOR	
DNK	JPN	
DNK	KEN	
DNK	KOR	
DNK	KWT	
DNK	LKA	
DNK	LVA	
DNK	MAC	
DNK	MAR	
DNK	MDA	
DNK	MEX	
DNK	MWI	
DNK	MYS	
DNK	NLD	
DNK	NOR	
DNK	NPL	
DNK	NZL	
DNK	PAK	
DNK	PAN	
DNK	PER	
DNK	PHL	
DNK	POL	
DNK	PRT	
DNK	ROM	
DNK	SGP	
DNK	SWE	
DNK	THA	
DNK	TTO	
DNK	TUR	
DNK	TWN	
DNK	URY	
DNK	USA	
DNK	VEN	
DNK	ZAF	
ECU	ARG	
ECU	ARM	
ECU	AUS	
ECU	AUT	
ECU	BGD	
ECU	BGR	
ECU	BOL	
ECU	CAN	
ECU	CHL	
ECU	CHN	
ECU	CMR	
ECU	COL	
ECU	CRI	
ECU	CYP	
ECU	DNK	
ECU	EGY	
ECU	ESP	
ECU	FIN	
ECU	FRA	
ECU	GBR	
ECU	GER	
ECU	GRC	
ECU	GTM	
ECU	HKG	
ECU	HND	
ECU	HUN	
ECU	IDN	
ECU	IND	
ECU	IRL	
ECU	IRN	
ECU	ITA	
ECU	JOR	
ECU	JPN	
ECU	KEN	
ECU	KOR	
ECU	KWT	
ECU	LKA	
ECU	LVA	
ECU	MAC	
ECU	MAR	
ECU	MDA	
ECU	MEX	
ECU	MWI	
ECU	MYS	
ECU	NLD	
ECU	NOR	
ECU	NPL	
ECU	NZL	
ECU	PAK	
ECU	PAN	
ECU	PER	
ECU	PHL	
ECU	POL	
ECU	PRT	
ECU	ROM	
ECU	SGP	
ECU	SWE	
ECU	THA	
ECU	TTO	
ECU	TUR	
ECU	TWN	
ECU	URY	
ECU	USA	
ECU	VEN	
ECU	ZAF	
EGY	ARG	
EGY	ARM	
EGY	AUS	
EGY	AUT	
EGY	BGD	
EGY	BGR	
EGY	BOL	
EGY	CAN	
EGY	CHL	
EGY	CHN	
EGY	CMR	
EGY	COL	
EGY	CRI	
EGY	CYP	
EGY	DNK	
EGY	ECU	
EGY	ESP	
EGY	FIN	
EGY	FRA	
EGY	GBR	
EGY	GER	
EGY	GRC	
EGY	GTM	
EGY	HKG	
EGY	HND	
EGY	HUN	
EGY	IDN	
EGY	IND	
EGY	IRL	
EGY	IRN	
EGY	ITA	
EGY	JOR	
EGY	JPN	
EGY	KEN	
EGY	KOR	
EGY	KWT	
EGY	LKA	
EGY	LVA	
EGY	MAC	
EGY	MAR	
EGY	MDA	
EGY	MEX	
EGY	MWI	
EGY	MYS	
EGY	NLD	
EGY	NOR	
EGY	NPL	
EGY	NZL	
EGY	PAK	
EGY	PAN	
EGY	PER	
EGY	PHL	
EGY	POL	
EGY	PRT	
EGY	ROM	
EGY	SGP	
EGY	SWE	
EGY	THA	
EGY	TTO	
EGY	TUR	
EGY	TWN	
EGY	URY	
EGY	USA	
EGY	VEN	
EGY	ZAF	
ESP	ARG	
ESP	ARM	
ESP	AUS	
ESP	AUT	
ESP	BGD	
ESP	BGR	
ESP	BOL	
ESP	CAN	
ESP	CHL	
ESP	CHN	
ESP	CMR	
ESP	COL	
ESP	CRI	
ESP	CYP	
ESP	DNK	
ESP	ECU	
ESP	EGY	
ESP	FIN	
ESP	FRA	
ESP	GBR	
ESP	GER	
ESP	GRC	
ESP	GTM	
ESP	HKG	
ESP	HND	
ESP	HUN	
ESP	IDN	
ESP	IND	
ESP	IRL	
ESP	IRN	
ESP	ITA	
ESP	JOR	
ESP	JPN	
ESP	KEN	
ESP	KOR	
ESP	KWT	
ESP	LKA	
ESP	LVA	
ESP	MAC	
ESP	MAR	
ESP	MDA	
ESP	MEX	
ESP	MWI	
ESP	MYS	
ESP	NLD	
ESP	NOR	
ESP	NPL	
ESP	NZL	
ESP	PAK	
ESP	PAN	
ESP	PER	
ESP	PHL	
ESP	POL	
ESP	PRT	
ESP	ROM	
ESP	SGP	
ESP	SWE	
ESP	THA	
ESP	TTO	
ESP	TUR	
ESP	TWN	
ESP	URY	
ESP	USA	
ESP	VEN	
ESP	ZAF	
FIN	ARG	
FIN	ARM	
FIN	AUS	
FIN	AUT	
FIN	BGD	
FIN	BGR	
FIN	BOL	
FIN	CAN	
FIN	CHL	
FIN	CHN	
FIN	CMR	
FIN	COL	
FIN	CRI	
FIN	CYP	
FIN	GER	
FIN	DNK	
FIN	ECU	
FIN	EGY	
FIN	ESP	
FIN	FRA	
FIN	GBR	
FIN	GRC	
FIN	GTM	
FIN	HKG	
FIN	HND	
FIN	HUN	
FIN	IDN	
FIN	IND	
FIN	IRL	
FIN	IRN	
FIN	ITA	
FIN	JOR	
FIN	JPN	
FIN	KEN	
FIN	KOR	
FIN	KWT	
FIN	LKA	
FIN	LVA	
FIN	MAC	
FIN	MAR	
FIN	MDA	
FIN	MEX	
FIN	MWI	
FIN	MYS	
FIN	NLD	
FIN	NOR	
FIN	NPL	
FIN	NZL	
FIN	PAK	
FIN	PAN	
FIN	PER	
FIN	PHL	
FIN	POL	
FIN	PRT	
FIN	ROM	
FIN	SGP	
FIN	SWE	
FIN	THA	
FIN	TTO	
FIN	TUR	
FIN	TWN	
FIN	URY	
FIN	USA	
FIN	VEN	
FIN	ZAF	
FRA	ARG	
FRA	ARM	
FRA	AUS	
FRA	AUT	
FRA	BGD	
FRA	BGR	
FRA	BOL	
FRA	CAN	
FRA	CHL	
FRA	CHN	
FRA	CMR	
FRA	COL	
FRA	CRI	
FRA	CYP	
FRA	GER	
FRA	DNK	
FRA	ECU	
FRA	EGY	
FRA	ESP	
FRA	FIN	
FRA	GBR	
FRA	GRC	
FRA	GTM	
FRA	HKG	
FRA	HND	
FRA	HUN	
FRA	IDN	
FRA	IND	
FRA	IRL	
FRA	IRN	
FRA	ITA	
FRA	JOR	
FRA	JPN	
FRA	KEN	
FRA	KOR	
FRA	KWT	
FRA	LKA	
FRA	LVA	
FRA	MAC	
FRA	MAR	
FRA	MDA	
FRA	MEX	
FRA	MWI	
FRA	MYS	
FRA	NLD	
FRA	NOR	
FRA	NPL	
FRA	NZL	
FRA	PAK	
FRA	PAN	
FRA	PER	
FRA	PHL	
FRA	POL	
FRA	PRT	
FRA	ROM	
FRA	SGP	
FRA	SWE	
FRA	THA	
FRA	TTO	
FRA	TUR	
FRA	TWN	
FRA	URY	
FRA	USA	
FRA	VEN	
FRA	ZAF	
GBR	ARG	
GBR	ARM	
GBR	AUS	
GBR	AUT	
GBR	BGD	
GBR	BGR	
GBR	BOL	
GBR	CAN	
GBR	CHL	
GBR	CHN	
GBR	CMR	
GBR	COL	
GBR	CRI	
GBR	CYP	
GBR	GER	
GBR	DNK	
GBR	ECU	
GBR	EGY	
GBR	ESP	
GBR	FIN	
GBR	FRA	
GBR	GRC	
GBR	GTM	
GBR	HKG	
GBR	HND	
GBR	HUN	
GBR	IDN	
GBR	IND	
GBR	IRL	
GBR	IRN	
GBR	ITA	
GBR	JOR	
GBR	JPN	
GBR	KEN	
GBR	KOR	
GBR	KWT	
GBR	LKA	
GBR	LVA	
GBR	MAC	
GBR	MAR	
GBR	MDA	
GBR	MEX	
GBR	MWI	
GBR	MYS	
GBR	NLD	
GBR	NOR	
GBR	NPL	
GBR	NZL	
GBR	PAK	
GBR	PAN	
GBR	PER	
GBR	PHL	
GBR	POL	
GBR	PRT	
GBR	ROM	
GBR	SGP	
GBR	SWE	
GBR	THA	
GBR	TTO	
GBR	TUR	
GBR	TWN	
GBR	URY	
GBR	USA	
GBR	VEN	
GBR	ZAF	
GER	ARG	
GER	ARM	
GER	AUS	
GER	AUT	
GER	BGD	
GER	BGR	
GER	BOL	
GER	CAN	
GER	CHL	
GER	CHN	
GER	CMR	
GER	COL	
GER	CRI	
GER	CYP	
GER	DNK	
GER	ECU	
GER	EGY	
GER	ESP	
GER	FIN	
GER	FRA	
GER	GBR	
GER	GRC	
GER	GTM	
GER	HKG	
GER	HND	
GER	HUN	
GER	IDN	
GER	IND	
GER	IRL	
GER	IRN	
GER	ITA	
GER	JOR	
GER	JPN	
GER	KEN	
GER	KOR	
GER	KWT	
GER	LKA	
GER	LVA	
GER	MAC	
GER	MAR	
GER	MDA	
GER	MEX	
GER	MWI	
GER	MYS	
GER	NLD	
GER	NOR	
GER	NPL	
GER	NZL	
GER	PAK	
GER	PAN	
GER	PER	
GER	PHL	
GER	POL	
GER	PRT	
GER	ROM	
GER	SGP	
GER	SWE	
GER	THA	
GER	TTO	
GER	TUR	
GER	TWN	
GER	URY	
GER	USA	
GER	VEN	
GER	ZAF	
GRC	ARG	
GRC	ARM	
GRC	AUS	
GRC	AUT	
GRC	BGD	
GRC	BGR	
GRC	BOL	
GRC	CAN	
GRC	CHL	
GRC	CHN	
GRC	CMR	
GRC	COL	
GRC	CRI	
GRC	CYP	
GRC	GER	
GRC	DNK	
GRC	ECU	
GRC	EGY	
GRC	ESP	
GRC	FIN	
GRC	FRA	
GRC	GBR	
GRC	GTM	
GRC	HKG	
GRC	HND	
GRC	HUN	
GRC	IDN	
GRC	IND	
GRC	IRL	
GRC	IRN	
GRC	ITA	
GRC	JOR	
GRC	JPN	
GRC	KEN	
GRC	KOR	
GRC	KWT	
GRC	LKA	
GRC	LVA	
GRC	MAC	
GRC	MAR	
GRC	MDA	
GRC	MEX	
GRC	MWI	
GRC	MYS	
GRC	NLD	
GRC	NOR	
GRC	NPL	
GRC	NZL	
GRC	PAK	
GRC	PAN	
GRC	PER	
GRC	PHL	
GRC	POL	
GRC	PRT	
GRC	ROM	
GRC	SGP	
GRC	SWE	
GRC	THA	
GRC	TTO	
GRC	TUR	
GRC	TWN	
GRC	URY	
GRC	USA	
GRC	VEN	
GRC	ZAF	
GTM	ARG	
GTM	ARM	
GTM	AUS	
GTM	AUT	
GTM	BGD	
GTM	BGR	
GTM	BOL	
GTM	CAN	
GTM	CHL	
GTM	CHN	
GTM	CMR	
GTM	COL	
GTM	CRI	
GTM	CYP	
GTM	GER	
GTM	DNK	
GTM	ECU	
GTM	EGY	
GTM	ESP	
GTM	FIN	
GTM	FRA	
GTM	GBR	
GTM	GRC	
GTM	HKG	
GTM	HND	
GTM	HUN	
GTM	IDN	
GTM	IND	
GTM	IRL	
GTM	IRN	
GTM	ITA	
GTM	JOR	
GTM	JPN	
GTM	KEN	
GTM	KOR	
GTM	KWT	
GTM	LKA	
GTM	LVA	
GTM	MAC	
GTM	MAR	
GTM	MDA	
GTM	MEX	
GTM	MWI	
GTM	MYS	
GTM	NLD	
GTM	NOR	
GTM	NPL	
GTM	NZL	
GTM	PAK	
GTM	PAN	
GTM	PER	
GTM	PHL	
GTM	POL	
GTM	PRT	
GTM	ROM	
GTM	SGP	
GTM	SWE	
GTM	THA	
GTM	TTO	
GTM	TUR	
GTM	TWN	
GTM	URY	
GTM	USA	
GTM	VEN	
GTM	ZAF	
HKG	ARG	
HKG	ARM	
HKG	AUS	
HKG	AUT	
HKG	BGD	
HKG	BGR	
HKG	BOL	
HKG	CAN	
HKG	CHL	
HKG	CHN	
HKG	CMR	
HKG	COL	
HKG	CRI	
HKG	CYP	
HKG	DNK	
HKG	ECU	
HKG	EGY	
HKG	ESP	
HKG	FIN	
HKG	FRA	
HKG	GBR	
HKG	GER	
HKG	GRC	
HKG	GTM	
HKG	HND	
HKG	HUN	
HKG	IDN	
HKG	IND	
HKG	IRL	
HKG	IRN	
HKG	ITA	
HKG	JOR	
HKG	JPN	
HKG	KEN	
HKG	KOR	
HKG	KWT	
HKG	LKA	
HKG	LVA	
HKG	MAC	
HKG	MAR	
HKG	MDA	
HKG	MEX	
HKG	MWI	
HKG	MYS	
HKG	NLD	
HKG	NOR	
HKG	NPL	
HKG	NZL	
HKG	PAK	
HKG	PAN	
HKG	PER	
HKG	PHL	
HKG	POL	
HKG	PRT	
HKG	ROM	
HKG	SGP	
HKG	SWE	
HKG	THA	
HKG	TTO	
HKG	TUR	
HKG	TWN	
HKG	URY	
HKG	USA	
HKG	VEN	
HKG	ZAF	
HND	ARG	
HND	ARM	
HND	AUS	
HND	AUT	
HND	BGD	
HND	BGR	
HND	BOL	
HND	CAN	
HND	CHL	
HND	CHN	
HND	CMR	
HND	COL	
HND	CRI	
HND	CYP	
HND	GER	
HND	DNK	
HND	ECU	
HND	EGY	
HND	ESP	
HND	FIN	
HND	FRA	
HND	GBR	
HND	GRC	
HND	GTM	
HND	HKG	
HND	HUN	
HND	IDN	
HND	IND	
HND	IRL	
HND	IRN	
HND	ITA	
HND	JOR	
HND	JPN	
HND	KEN	
HND	KOR	
HND	KWT	
HND	LKA	
HND	LVA	
HND	MAC	
HND	MAR	
HND	MDA	
HND	MEX	
HND	MWI	
HND	MYS	
HND	NLD	
HND	NOR	
HND	NPL	
HND	NZL	
HND	PAK	
HND	PAN	
HND	PER	
HND	PHL	
HND	POL	
HND	PRT	
HND	ROM	
HND	SGP	
HND	SWE	
HND	THA	
HND	TTO	
HND	TUR	
HND	TWN	
HND	URY	
HND	USA	
HND	VEN	
HND	ZAF	
HUN	ARG	
HUN	ARM	
HUN	AUS	
HUN	AUT	
HUN	BGD	
HUN	BGR	
HUN	BOL	
HUN	CAN	
HUN	CHL	
HUN	CHN	
HUN	CMR	
HUN	COL	
HUN	CRI	
HUN	CYP	
HUN	GER	
HUN	DNK	
HUN	ECU	
HUN	EGY	
HUN	ESP	
HUN	FIN	
HUN	FRA	
HUN	GBR	
HUN	GRC	
HUN	GTM	
HUN	HKG	
HUN	HND	
HUN	IDN	
HUN	IND	
HUN	IRL	
HUN	IRN	
HUN	ITA	
HUN	JOR	
HUN	JPN	
HUN	KEN	
HUN	KOR	
HUN	KWT	
HUN	LKA	
HUN	LVA	
HUN	MAC	
HUN	MAR	
HUN	MDA	
HUN	MEX	
HUN	MWI	
HUN	MYS	
HUN	NLD	
HUN	NOR	
HUN	NPL	
HUN	NZL	
HUN	PAK	
HUN	PAN	
HUN	PER	
HUN	PHL	
HUN	POL	
HUN	PRT	
HUN	ROM	
HUN	SGP	
HUN	SWE	
HUN	THA	
HUN	TTO	
HUN	TUR	
HUN	TWN	
HUN	URY	
HUN	USA	
HUN	VEN	
HUN	ZAF	
IDN	ARG	
IDN	ARM	
IDN	AUS	
IDN	AUT	
IDN	BGD	
IDN	BGR	
IDN	BOL	
IDN	CAN	
IDN	CHL	
IDN	CHN	
IDN	CMR	
IDN	COL	
IDN	CRI	
IDN	CYP	
IDN	GER	
IDN	DNK	
IDN	ECU	
IDN	EGY	
IDN	ESP	
IDN	FIN	
IDN	FRA	
IDN	GBR	
IDN	GRC	
IDN	GTM	
IDN	HKG	
IDN	HND	
IDN	HUN	
IDN	IND	
IDN	IRL	
IDN	IRN	
IDN	ITA	
IDN	JOR	
IDN	JPN	
IDN	KEN	
IDN	KOR	
IDN	KWT	
IDN	LKA	
IDN	LVA	
IDN	MAC	
IDN	MAR	
IDN	MDA	
IDN	MEX	
IDN	MWI	
IDN	MYS	
IDN	NLD	
IDN	NOR	
IDN	NPL	
IDN	NZL	
IDN	PAK	
IDN	PAN	
IDN	PER	
IDN	PHL	
IDN	POL	
IDN	PRT	
IDN	ROM	
IDN	SGP	
IDN	SWE	
IDN	THA	
IDN	TTO	
IDN	TUR	
IDN	TWN	
IDN	URY	
IDN	USA	
IDN	VEN	
IDN	ZAF	
IND	ARG	
IND	ARM	
IND	AUS	
IND	AUT	
IND	BGD	
IND	BGR	
IND	BOL	
IND	CAN	
IND	CHL	
IND	CHN	
IND	CMR	
IND	COL	
IND	CRI	
IND	CYP	
IND	GER	
IND	DNK	
IND	ECU	
IND	EGY	
IND	ESP	
IND	FIN	
IND	FRA	
IND	GBR	
IND	GRC	
IND	GTM	
IND	HKG	
IND	HND	
IND	HUN	
IND	IDN	
IND	IRL	
IND	IRN	
IND	ITA	
IND	JOR	
IND	JPN	
IND	KEN	
IND	KOR	
IND	KWT	
IND	LKA	
IND	LVA	
IND	MAC	
IND	MAR	
IND	MDA	
IND	MEX	
IND	MWI	
IND	MYS	
IND	NLD	
IND	NOR	
IND	NPL	
IND	NZL	
IND	PAK	
IND	PAN	
IND	PER	
IND	PHL	
IND	POL	
IND	PRT	
IND	ROM	
IND	SGP	
IND	SWE	
IND	THA	
IND	TTO	
IND	TUR	
IND	TWN	
IND	URY	
IND	USA	
IND	VEN	
IND	ZAF	
IRL	ARG	
IRL	ARM	
IRL	AUS	
IRL	AUT	
IRL	BGD	
IRL	BGR	
IRL	BOL	
IRL	CAN	
IRL	CHL	
IRL	CHN	
IRL	CMR	
IRL	COL	
IRL	CRI	
IRL	CYP	
IRL	GER	
IRL	DNK	
IRL	ECU	
IRL	EGY	
IRL	ESP	
IRL	FIN	
IRL	FRA	
IRL	GBR	
IRL	GRC	
IRL	GTM	
IRL	HKG	
IRL	HND	
IRL	HUN	
IRL	IDN	
IRL	IND	
IRL	IRN	
IRL	ITA	
IRL	JOR	
IRL	JPN	
IRL	KEN	
IRL	KOR	
IRL	KWT	
IRL	LKA	
IRL	LVA	
IRL	MAC	
IRL	MAR	
IRL	MDA	
IRL	MEX	
IRL	MWI	
IRL	MYS	
IRL	NLD	
IRL	NOR	
IRL	NPL	
IRL	NZL	
IRL	PAK	
IRL	PAN	
IRL	PER	
IRL	PHL	
IRL	POL	
IRL	PRT	
IRL	ROM	
IRL	SGP	
IRL	SWE	
IRL	THA	
IRL	TTO	
IRL	TUR	
IRL	TWN	
IRL	URY	
IRL	USA	
IRL	VEN	
IRL	ZAF	
IRN	ARG	
IRN	ARM	
IRN	AUS	
IRN	AUT	
IRN	BGD	
IRN	BGR	
IRN	BOL	
IRN	CAN	
IRN	CHL	
IRN	CHN	
IRN	CMR	
IRN	COL	
IRN	CRI	
IRN	CYP	
IRN	GER	
IRN	DNK	
IRN	ECU	
IRN	EGY	
IRN	ESP	
IRN	FIN	
IRN	FRA	
IRN	GBR	
IRN	GRC	
IRN	GTM	
IRN	HKG	
IRN	HND	
IRN	HUN	
IRN	IDN	
IRN	IND	
IRN	IRL	
IRN	ITA	
IRN	JOR	
IRN	JPN	
IRN	KEN	
IRN	KOR	
IRN	KWT	
IRN	LKA	
IRN	LVA	
IRN	MAC	
IRN	MAR	
IRN	MDA	
IRN	MEX	
IRN	MWI	
IRN	MYS	
IRN	NLD	
IRN	NOR	
IRN	NPL	
IRN	NZL	
IRN	PAK	
IRN	PAN	
IRN	PER	
IRN	PHL	
IRN	POL	
IRN	PRT	
IRN	ROM	
IRN	SGP	
IRN	SWE	
IRN	THA	
IRN	TTO	
IRN	TUR	
IRN	TWN	
IRN	URY	
IRN	USA	
IRN	VEN	
IRN	ZAF	
ITA	ARG	
ITA	ARM	
ITA	AUS	
ITA	AUT	
ITA	BGD	
ITA	BGR	
ITA	BOL	
ITA	CAN	
ITA	CHL	
ITA	CHN	
ITA	CMR	
ITA	COL	
ITA	CRI	
ITA	CYP	
ITA	GER	
ITA	DNK	
ITA	ECU	
ITA	EGY	
ITA	ESP	
ITA	FIN	
ITA	FRA	
ITA	GBR	
ITA	GRC	
ITA	GTM	
ITA	HKG	
ITA	HND	
ITA	HUN	
ITA	IDN	
ITA	IND	
ITA	IRL	
ITA	IRN	
ITA	JOR	
ITA	JPN	
ITA	KEN	
ITA	KOR	
ITA	KWT	
ITA	LKA	
ITA	LVA	
ITA	MAC	
ITA	MAR	
ITA	MDA	
ITA	MEX	
ITA	MWI	
ITA	MYS	
ITA	NLD	
ITA	NOR	
ITA	NPL	
ITA	NZL	
ITA	PAK	
ITA	PAN	
ITA	PER	
ITA	PHL	
ITA	POL	
ITA	PRT	
ITA	ROM	
ITA	SGP	
ITA	SWE	
ITA	THA	
ITA	TTO	
ITA	TUR	
ITA	TWN	
ITA	URY	
ITA	USA	
ITA	VEN	
ITA	ZAF	
JOR	ARG	
JOR	ARM	
JOR	AUS	
JOR	AUT	
JOR	BGD	
JOR	BGR	
JOR	BOL	
JOR	CAN	
JOR	CHL	
JOR	CHN	
JOR	CMR	
JOR	COL	
JOR	CRI	
JOR	CYP	
JOR	GER	
JOR	DNK	
JOR	ECU	
JOR	EGY	
JOR	ESP	
JOR	FIN	
JOR	FRA	
JOR	GBR	
JOR	GRC	
JOR	GTM	
JOR	HKG	
JOR	HND	
JOR	HUN	
JOR	IDN	
JOR	IND	
JOR	IRL	
JOR	IRN	
JOR	ITA	
JOR	JPN	
JOR	KEN	
JOR	KOR	
JOR	KWT	
JOR	LKA	
JOR	LVA	
JOR	MAC	
JOR	MAR	
JOR	MDA	
JOR	MEX	
JOR	MWI	
JOR	MYS	
JOR	NLD	
JOR	NOR	
JOR	NPL	
JOR	NZL	
JOR	PAK	
JOR	PAN	
JOR	PER	
JOR	PHL	
JOR	POL	
JOR	PRT	
JOR	ROM	
JOR	SGP	
JOR	SWE	
JOR	THA	
JOR	TTO	
JOR	TUR	
JOR	TWN	
JOR	URY	
JOR	USA	
JOR	VEN	
JOR	ZAF	
JPN	ARG	
JPN	ARM	
JPN	AUS	
JPN	AUT	
JPN	BGD	
JPN	BGR	
JPN	BOL	
JPN	CAN	
JPN	CHL	
JPN	CHN	
JPN	CMR	
JPN	COL	
JPN	CRI	
JPN	CYP	
JPN	GER	
JPN	DNK	
JPN	ECU	
JPN	EGY	
JPN	ESP	
JPN	FIN	
JPN	FRA	
JPN	GBR	
JPN	GRC	
JPN	GTM	
JPN	HKG	
JPN	HND	
JPN	HUN	
JPN	IDN	
JPN	IND	
JPN	IRL	
JPN	IRN	
JPN	ITA	
JPN	JOR	
JPN	KEN	
JPN	KOR	
JPN	KWT	
JPN	LKA	
JPN	LVA	
JPN	MAC	
JPN	MAR	
JPN	MDA	
JPN	MEX	
JPN	MWI	
JPN	MYS	
JPN	NLD	
JPN	NOR	
JPN	NPL	
JPN	NZL	
JPN	PAK	
JPN	PAN	
JPN	PER	
JPN	PHL	
JPN	POL	
JPN	PRT	
JPN	ROM	
JPN	SGP	
JPN	SWE	
JPN	THA	
JPN	TTO	
JPN	TUR	
JPN	TWN	
JPN	URY	
JPN	USA	
JPN	VEN	
JPN	ZAF	
KEN	ARG	
KEN	ARM	
KEN	AUS	
KEN	AUT	
KEN	BGD	
KEN	BGR	
KEN	BOL	
KEN	CAN	
KEN	CHL	
KEN	CHN	
KEN	CMR	
KEN	COL	
KEN	CRI	
KEN	CYP	
KEN	DNK	
KEN	ECU	
KEN	EGY	
KEN	ESP	
KEN	FIN	
KEN	FRA	
KEN	GBR	
KEN	GER	
KEN	GRC	
KEN	GTM	
KEN	HKG	
KEN	HND	
KEN	HUN	
KEN	IDN	
KEN	IND	
KEN	IRL	
KEN	IRN	
KEN	ITA	
KEN	JOR	
KEN	JPN	
KEN	KOR	
KEN	KWT	
KEN	LKA	
KEN	LVA	
KEN	MAC	
KEN	MAR	
KEN	MDA	
KEN	MEX	
KEN	MWI	
KEN	MYS	
KEN	NLD	
KEN	NOR	
KEN	NPL	
KEN	NZL	
KEN	PAK	
KEN	PAN	
KEN	PER	
KEN	PHL	
KEN	POL	
KEN	PRT	
KEN	ROM	
KEN	SGP	
KEN	SWE	
KEN	THA	
KEN	TTO	
KEN	TUR	
KEN	TWN	
KEN	URY	
KEN	USA	
KEN	VEN	
KEN	ZAF	
KOR	ARG	
KOR	ARM	
KOR	AUS	
KOR	AUT	
KOR	BGD	
KOR	BGR	
KOR	BOL	
KOR	CAN	
KOR	CHL	
KOR	CHN	
KOR	CMR	
KOR	COL	
KOR	CRI	
KOR	CYP	
KOR	GER	
KOR	DNK	
KOR	ECU	
KOR	EGY	
KOR	ESP	
KOR	FIN	
KOR	FRA	
KOR	GBR	
KOR	GRC	
KOR	GTM	
KOR	HKG	
KOR	HND	
KOR	HUN	
KOR	IDN	
KOR	IND	
KOR	IRL	
KOR	IRN	
KOR	ITA	
KOR	JOR	
KOR	JPN	
KOR	KEN	
KOR	KWT	
KOR	LKA	
KOR	LVA	
KOR	MAC	
KOR	MAR	
KOR	MDA	
KOR	MEX	
KOR	MWI	
KOR	MYS	
KOR	NLD	
KOR	NOR	
KOR	NPL	
KOR	NZL	
KOR	PAK	
KOR	PAN	
KOR	PER	
KOR	PHL	
KOR	POL	
KOR	PRT	
KOR	ROM	
KOR	SGP	
KOR	SWE	
KOR	THA	
KOR	TTO	
KOR	TUR	
KOR	TWN	
KOR	URY	
KOR	USA	
KOR	VEN	
KOR	ZAF	
KWT	ARG	
KWT	ARM	
KWT	AUS	
KWT	AUT	
KWT	BGD	
KWT	BGR	
KWT	BOL	
KWT	CAN	
KWT	CHL	
KWT	CHN	
KWT	CMR	
KWT	COL	
KWT	CRI	
KWT	CYP	
KWT	GER	
KWT	DNK	
KWT	ECU	
KWT	EGY	
KWT	ESP	
KWT	FIN	
KWT	FRA	
KWT	GBR	
KWT	GRC	
KWT	GTM	
KWT	HKG	
KWT	HND	
KWT	HUN	
KWT	IDN	
KWT	IND	
KWT	IRL	
KWT	IRN	
KWT	ITA	
KWT	JOR	
KWT	JPN	
KWT	KEN	
KWT	KOR	
KWT	LKA	
KWT	LVA	
KWT	MAC	
KWT	MAR	
KWT	MDA	
KWT	MEX	
KWT	MWI	
KWT	MYS	
KWT	NLD	
KWT	NOR	
KWT	NPL	
KWT	NZL	
KWT	PAK	
KWT	PAN	
KWT	PER	
KWT	PHL	
KWT	POL	
KWT	PRT	
KWT	ROM	
KWT	SGP	
KWT	SWE	
KWT	THA	
KWT	TTO	
KWT	TUR	
KWT	TWN	
KWT	URY	
KWT	USA	
KWT	VEN	
KWT	ZAF	
LKA	ARG	
LKA	ARM	
LKA	AUS	
LKA	AUT	
LKA	BGD	
LKA	BGR	
LKA	BOL	
LKA	CAN	
LKA	CHL	
LKA	CHN	
LKA	CMR	
LKA	COL	
LKA	CRI	
LKA	CYP	
LKA	GER	
LKA	DNK	
LKA	ECU	
LKA	EGY	
LKA	ESP	
LKA	FIN	
LKA	FRA	
LKA	GBR	
LKA	GRC	
LKA	GTM	
LKA	HKG	
LKA	HND	
LKA	HUN	
LKA	IDN	
LKA	IND	
LKA	IRL	
LKA	IRN	
LKA	ITA	
LKA	JOR	
LKA	JPN	
LKA	KEN	
LKA	KOR	
LKA	KWT	
LKA	LVA	
LKA	MAC	
LKA	MAR	
LKA	MDA	
LKA	MEX	
LKA	MWI	
LKA	MYS	
LKA	NLD	
LKA	NOR	
LKA	NPL	
LKA	NZL	
LKA	PAK	
LKA	PAN	
LKA	PER	
LKA	PHL	
LKA	POL	
LKA	PRT	
LKA	ROM	
LKA	SGP	
LKA	SWE	
LKA	THA	
LKA	TTO	
LKA	TUR	
LKA	TWN	
LKA	URY	
LKA	USA	
LKA	VEN	
LKA	ZAF	
LVA	ARG	
LVA	ARM	
LVA	AUS	
LVA	AUT	
LVA	BGD	
LVA	BGR	
LVA	BOL	
LVA	CAN	
LVA	CHL	
LVA	CHN	
LVA	CMR	
LVA	COL	
LVA	CRI	
LVA	CYP	
LVA	GER	
LVA	DNK	
LVA	ECU	
LVA	EGY	
LVA	ESP	
LVA	FIN	
LVA	FRA	
LVA	GBR	
LVA	GRC	
LVA	GTM	
LVA	HKG	
LVA	HND	
LVA	HUN	
LVA	IDN	
LVA	IND	
LVA	IRL	
LVA	IRN	
LVA	ITA	
LVA	JOR	
LVA	JPN	
LVA	KEN	
LVA	KOR	
LVA	KWT	
LVA	LKA	
LVA	MAC	
LVA	MAR	
LVA	MDA	
LVA	MEX	
LVA	MWI	
LVA	MYS	
LVA	NLD	
LVA	NOR	
LVA	NPL	
LVA	NZL	
LVA	PAK	
LVA	PAN	
LVA	PER	
LVA	PHL	
LVA	POL	
LVA	PRT	
LVA	ROM	
LVA	SGP	
LVA	SWE	
LVA	THA	
LVA	TTO	
LVA	TUR	
LVA	TWN	
LVA	URY	
LVA	USA	
LVA	VEN	
LVA	ZAF	
MAC	ARG	
MAC	ARM	
MAC	AUS	
MAC	AUT	
MAC	BGD	
MAC	BGR	
MAC	BOL	
MAC	CAN	
MAC	CHL	
MAC	CHN	
MAC	CMR	
MAC	COL	
MAC	CRI	
MAC	CYP	
MAC	GER	
MAC	DNK	
MAC	ECU	
MAC	EGY	
MAC	ESP	
MAC	FIN	
MAC	FRA	
MAC	GBR	
MAC	GRC	
MAC	GTM	
MAC	HKG	
MAC	HND	
MAC	HUN	
MAC	IDN	
MAC	IND	
MAC	IRL	
MAC	IRN	
MAC	ITA	
MAC	JOR	
MAC	JPN	
MAC	KEN	
MAC	KOR	
MAC	KWT	
MAC	LKA	
MAC	LVA	
MAC	MAR	
MAC	MDA	
MAC	MEX	
MAC	MWI	
MAC	MYS	
MAC	NLD	
MAC	NOR	
MAC	NPL	
MAC	NZL	
MAC	PAK	
MAC	PAN	
MAC	PER	
MAC	PHL	
MAC	POL	
MAC	PRT	
MAC	ROM	
MAC	SGP	
MAC	SWE	
MAC	THA	
MAC	TTO	
MAC	TUR	
MAC	TWN	
MAC	URY	
MAC	USA	
MAC	ZAF	
MAC	VEN	
MAR	ARG	
MAR	ARM	
MAR	AUS	
MAR	AUT	
MAR	BGD	
MAR	BGR	
MAR	BOL	
MAR	CAN	
MAR	CHL	
MAR	CHN	
MAR	CMR	
MAR	COL	
MAR	CRI	
MAR	CYP	
MAR	GER	
MAR	DNK	
MAR	ECU	
MAR	EGY	
MAR	ESP	
MAR	FIN	
MAR	FRA	
MAR	GBR	
MAR	GRC	
MAR	GTM	
MAR	HKG	
MAR	HND	
MAR	HUN	
MAR	IDN	
MAR	IND	
MAR	IRL	
MAR	IRN	
MAR	ITA	
MAR	JOR	
MAR	JPN	
MAR	KEN	
MAR	KOR	
MAR	KWT	
MAR	LKA	
MAR	LVA	
MAR	MAC	
MAR	MDA	
MAR	MEX	
MAR	MWI	
MAR	MYS	
MAR	NLD	
MAR	NOR	
MAR	NPL	
MAR	NZL	
MAR	PAK	
MAR	PAN	
MAR	PER	
MAR	PHL	
MAR	POL	
MAR	PRT	
MAR	ROM	
MAR	SGP	
MAR	SWE	
MAR	THA	
MAR	TTO	
MAR	TUR	
MAR	TWN	
MAR	URY	
MAR	USA	
MAR	VEN	
MAR	ZAF	
MDA	ARG	
MDA	ARM	
MDA	AUS	
MDA	AUT	
MDA	BGD	
MDA	BGR	
MDA	BOL	
MDA	CAN	
MDA	CHL	
MDA	CHN	
MDA	CMR	
MDA	COL	
MDA	CRI	
MDA	CYP	
MDA	DNK	
MDA	ECU	
MDA	EGY	
MDA	ESP	
MDA	FIN	
MDA	FRA	
MDA	GBR	
MDA	GER	
MDA	GRC	
MDA	GTM	
MDA	HKG	
MDA	HND	
MDA	HUN	
MDA	IDN	
MDA	IND	
MDA	IRL	
MDA	IRN	
MDA	ITA	
MDA	JOR	
MDA	JPN	
MDA	KEN	
MDA	KOR	
MDA	KWT	
MDA	LKA	
MDA	LVA	
MDA	MAC	
MDA	MAR	
MDA	MEX	
MDA	MWI	
MDA	MYS	
MDA	NLD	
MDA	NOR	
MDA	NPL	
MDA	NZL	
MDA	PAK	
MDA	PAN	
MDA	PER	
MDA	PHL	
MDA	POL	
MDA	PRT	
MDA	ROM	
MDA	SGP	
MDA	SWE	
MDA	THA	
MDA	TTO	
MDA	TUR	
MDA	TWN	
MDA	URY	
MDA	USA	
MDA	VEN	
MDA	ZAF	
MEX	ARG	
MEX	ARM	
MEX	AUS	
MEX	AUT	
MEX	BGD	
MEX	BGR	
MEX	BOL	
MEX	CAN	
MEX	CHL	
MEX	CHN	
MEX	CMR	
MEX	COL	
MEX	CRI	
MEX	CYP	
MEX	GER	
MEX	DNK	
MEX	ECU	
MEX	EGY	
MEX	ESP	
MEX	FIN	
MEX	FRA	
MEX	GBR	
MEX	GRC	
MEX	GTM	
MEX	HKG	
MEX	HND	
MEX	HUN	
MEX	IDN	
MEX	IND	
MEX	IRL	
MEX	IRN	
MEX	ITA	
MEX	JOR	
MEX	JPN	
MEX	KEN	
MEX	KOR	
MEX	KWT	
MEX	LKA	
MEX	LVA	
MEX	MAC	
MEX	MAR	
MEX	MDA	
MEX	MWI	
MEX	MYS	
MEX	NLD	
MEX	NOR	
MEX	NPL	
MEX	NZL	
MEX	PAK	
MEX	PAN	
MEX	PER	
MEX	PHL	
MEX	POL	
MEX	PRT	
MEX	ROM	
MEX	SGP	
MEX	SWE	
MEX	THA	
MEX	TTO	
MEX	TUR	
MEX	TWN	
MEX	URY	
MEX	USA	
MEX	VEN	
MEX	ZAF	
MWI	ARG	
MWI	ARM	
MWI	AUS	
MWI	AUT	
MWI	BGD	
MWI	BGR	
MWI	BOL	
MWI	CAN	
MWI	CHL	
MWI	CHN	
MWI	CMR	
MWI	COL	
MWI	CRI	
MWI	CYP	
MWI	DNK	
MWI	ECU	
MWI	EGY	
MWI	ESP	
MWI	FIN	
MWI	FRA	
MWI	GBR	
MWI	GER	
MWI	GRC	
MWI	GTM	
MWI	HKG	
MWI	HND	
MWI	HUN	
MWI	IDN	
MWI	IND	
MWI	IRL	
MWI	IRN	
MWI	ITA	
MWI	JOR	
MWI	JPN	
MWI	KEN	
MWI	KOR	
MWI	KWT	
MWI	LKA	
MWI	LVA	
MWI	MAC	
MWI	MAR	
MWI	MDA	
MWI	MEX	
MWI	MYS	
MWI	NLD	
MWI	NOR	
MWI	NPL	
MWI	NZL	
MWI	PAK	
MWI	PAN	
MWI	PER	
MWI	PHL	
MWI	POL	
MWI	PRT	
MWI	ROM	
MWI	SGP	
MWI	SWE	
MWI	THA	
MWI	TTO	
MWI	TUR	
MWI	TWN	
MWI	URY	
MWI	USA	
MWI	VEN	
MWI	ZAF	
MYS	ARG	
MYS	ARM	
MYS	AUS	
MYS	AUT	
MYS	BGD	
MYS	BGR	
MYS	BOL	
MYS	CAN	
MYS	CHL	
MYS	CHN	
MYS	CMR	
MYS	COL	
MYS	CRI	
MYS	CYP	
MYS	GER	
MYS	DNK	
MYS	ECU	
MYS	EGY	
MYS	ESP	
MYS	FIN	
MYS	FRA	
MYS	GBR	
MYS	GRC	
MYS	GTM	
MYS	HKG	
MYS	HND	
MYS	HUN	
MYS	IDN	
MYS	IND	
MYS	IRL	
MYS	IRN	
MYS	ITA	
MYS	JOR	
MYS	JPN	
MYS	KEN	
MYS	KOR	
MYS	KWT	
MYS	LKA	
MYS	LVA	
MYS	MAC	
MYS	MAR	
MYS	MDA	
MYS	MEX	
MYS	MWI	
MYS	NLD	
MYS	NOR	
MYS	NPL	
MYS	NZL	
MYS	PAK	
MYS	PAN	
MYS	PER	
MYS	PHL	
MYS	POL	
MYS	PRT	
MYS	ROM	
MYS	SGP	
MYS	SWE	
MYS	THA	
MYS	TTO	
MYS	TUR	
MYS	TWN	
MYS	URY	
MYS	USA	
MYS	VEN	
MYS	ZAF	
NLD	ARG	
NLD	ARM	
NLD	AUS	
NLD	AUT	
NLD	BGD	
NLD	BGR	
NLD	BOL	
NLD	CAN	
NLD	CHL	
NLD	CHN	
NLD	CMR	
NLD	COL	
NLD	CRI	
NLD	CYP	
NLD	GER	
NLD	DNK	
NLD	ECU	
NLD	EGY	
NLD	ESP	
NLD	FIN	
NLD	FRA	
NLD	GBR	
NLD	GRC	
NLD	GTM	
NLD	HKG	
NLD	HND	
NLD	HUN	
NLD	IDN	
NLD	IND	
NLD	IRL	
NLD	IRN	
NLD	ITA	
NLD	JOR	
NLD	JPN	
NLD	KEN	
NLD	KOR	
NLD	KWT	
NLD	LKA	
NLD	LVA	
NLD	MAC	
NLD	MAR	
NLD	MDA	
NLD	MEX	
NLD	MWI	
NLD	MYS	
NLD	NOR	
NLD	NPL	
NLD	NZL	
NLD	PAK	
NLD	PAN	
NLD	PER	
NLD	PHL	
NLD	POL	
NLD	PRT	
NLD	ROM	
NLD	SGP	
NLD	SWE	
NLD	THA	
NLD	TTO	
NLD	TUR	
NLD	TWN	
NLD	URY	
NLD	USA	
NLD	VEN	
NLD	ZAF	
NOR	ARG	
NOR	ARM	
NOR	AUS	
NOR	AUT	
NOR	BGD	
NOR	BGR	
NOR	BOL	
NOR	CAN	
NOR	CHL	
NOR	CHN	
NOR	CMR	
NOR	COL	
NOR	CRI	
NOR	CYP	
NOR	GER	
NOR	DNK	
NOR	ECU	
NOR	EGY	
NOR	ESP	
NOR	FIN	
NOR	FRA	
NOR	GBR	
NOR	GRC	
NOR	GTM	
NOR	HKG	
NOR	HND	
NOR	HUN	
NOR	IDN	
NOR	IND	
NOR	IRL	
NOR	IRN	
NOR	ITA	
NOR	JOR	
NOR	JPN	
NOR	KEN	
NOR	KOR	
NOR	KWT	
NOR	LKA	
NOR	LVA	
NOR	MAC	
NOR	MAR	
NOR	MDA	
NOR	MEX	
NOR	MWI	
NOR	MYS	
NOR	NLD	
NOR	NPL	
NOR	NZL	
NOR	PAK	
NOR	PAN	
NOR	PER	
NOR	PHL	
NOR	POL	
NOR	PRT	
NOR	ROM	
NOR	SGP	
NOR	SWE	
NOR	THA	
NOR	TTO	
NOR	TUR	
NOR	TWN	
NOR	URY	
NOR	USA	
NOR	VEN	
NOR	ZAF	
NPL	ARG	
NPL	ARM	
NPL	AUS	
NPL	AUT	
NPL	BGD	
NPL	BGR	
NPL	BOL	
NPL	CAN	
NPL	CHL	
NPL	CHN	
NPL	CMR	
NPL	COL	
NPL	CRI	
NPL	CYP	
NPL	DNK	
NPL	ECU	
NPL	EGY	
NPL	ESP	
NPL	FIN	
NPL	FRA	
NPL	GBR	
NPL	GER	
NPL	GRC	
NPL	GTM	
NPL	HKG	
NPL	HND	
NPL	HUN	
NPL	IDN	
NPL	IND	
NPL	IRL	
NPL	IRN	
NPL	ITA	
NPL	JOR	
NPL	JPN	
NPL	KEN	
NPL	KOR	
NPL	KWT	
NPL	LKA	
NPL	LVA	
NPL	MAC	
NPL	MAR	
NPL	MDA	
NPL	MEX	
NPL	MWI	
NPL	MYS	
NPL	NLD	
NPL	NOR	
NPL	NZL	
NPL	PAK	
NPL	PAN	
NPL	PER	
NPL	PHL	
NPL	POL	
NPL	PRT	
NPL	ROM	
NPL	SGP	
NPL	SWE	
NPL	THA	
NPL	TTO	
NPL	TUR	
NPL	TWN	
NPL	URY	
NPL	USA	
NPL	VEN	
NPL	ZAF	
NZL	ARG	
NZL	ARM	
NZL	AUS	
NZL	AUT	
NZL	BGD	
NZL	BGR	
NZL	BOL	
NZL	CAN	
NZL	CHL	
NZL	CHN	
NZL	CMR	
NZL	COL	
NZL	CRI	
NZL	CYP	
NZL	GER	
NZL	DNK	
NZL	ECU	
NZL	EGY	
NZL	ESP	
NZL	FIN	
NZL	FRA	
NZL	GBR	
NZL	GRC	
NZL	GTM	
NZL	HKG	
NZL	HND	
NZL	HUN	
NZL	IDN	
NZL	IND	
NZL	IRL	
NZL	IRN	
NZL	ITA	
NZL	JOR	
NZL	JPN	
NZL	KEN	
NZL	KOR	
NZL	KWT	
NZL	LKA	
NZL	LVA	
NZL	MAC	
NZL	MAR	
NZL	MDA	
NZL	MEX	
NZL	MWI	
NZL	MYS	
NZL	NLD	
NZL	NOR	
NZL	NPL	
NZL	PAK	
NZL	PAN	
NZL	PER	
NZL	PHL	
NZL	POL	
NZL	PRT	
NZL	ROM	
NZL	SGP	
NZL	SWE	
NZL	THA	
NZL	TTO	
NZL	TUR	
NZL	TWN	
NZL	URY	
NZL	USA	
NZL	VEN	
NZL	ZAF	
PAK	ARG	
PAK	ARM	
PAK	AUS	
PAK	AUT	
PAK	BGD	
PAK	BGR	
PAK	BOL	
PAK	CAN	
PAK	CHL	
PAK	CHN	
PAK	CMR	
PAK	COL	
PAK	CRI	
PAK	CYP	
PAK	GER	
PAK	DNK	
PAK	ECU	
PAK	EGY	
PAK	ESP	
PAK	FIN	
PAK	FRA	
PAK	GBR	
PAK	GRC	
PAK	GTM	
PAK	HKG	
PAK	HND	
PAK	HUN	
PAK	IDN	
PAK	IND	
PAK	IRL	
PAK	IRN	
PAK	ITA	
PAK	JOR	
PAK	JPN	
PAK	KEN	
PAK	KOR	
PAK	KWT	
PAK	LKA	
PAK	LVA	
PAK	MAC	
PAK	MAR	
PAK	MDA	
PAK	MEX	
PAK	MWI	
PAK	MYS	
PAK	NLD	
PAK	NOR	
PAK	NPL	
PAK	NZL	
PAK	PAN	
PAK	PER	
PAK	PHL	
PAK	POL	
PAK	PRT	
PAK	ROM	
PAK	SGP	
PAK	SWE	
PAK	THA	
PAK	TTO	
PAK	TUR	
PAK	TWN	
PAK	URY	
PAK	USA	
PAK	VEN	
PAK	ZAF	
PAN	ARG	
PAN	ARM	
PAN	AUS	
PAN	AUT	
PAN	BGD	
PAN	BGR	
PAN	BOL	
PAN	CAN	
PAN	CHL	
PAN	CHN	
PAN	CMR	
PAN	COL	
PAN	CRI	
PAN	CYP	
PAN	GER	
PAN	DNK	
PAN	ECU	
PAN	EGY	
PAN	ESP	
PAN	FIN	
PAN	FRA	
PAN	GBR	
PAN	GRC	
PAN	GTM	
PAN	HKG	
PAN	HND	
PAN	HUN	
PAN	IDN	
PAN	IND	
PAN	IRL	
PAN	IRN	
PAN	ITA	
PAN	JOR	
PAN	JPN	
PAN	KEN	
PAN	KOR	
PAN	KWT	
PAN	LKA	
PAN	LVA	
PAN	MAC	
PAN	MAR	
PAN	MDA	
PAN	MEX	
PAN	MWI	
PAN	MYS	
PAN	NLD	
PAN	NOR	
PAN	NPL	
PAN	NZL	
PAN	PAK	
PAN	PER	
PAN	PHL	
PAN	POL	
PAN	PRT	
PAN	ROM	
PAN	SGP	
PAN	SWE	
PAN	THA	
PAN	TTO	
PAN	TUR	
PAN	TWN	
PAN	URY	
PAN	USA	
PAN	VEN	
PAN	ZAF	
PER	ARG	
PER	ARM	
PER	AUS	
PER	AUT	
PER	BGD	
PER	BGR	
PER	BOL	
PER	CAN	
PER	CHL	
PER	CHN	
PER	CMR	
PER	COL	
PER	CRI	
PER	CYP	
PER	GER	
PER	DNK	
PER	ECU	
PER	EGY	
PER	ESP	
PER	FIN	
PER	FRA	
PER	GBR	
PER	GRC	
PER	GTM	
PER	HKG	
PER	HND	
PER	HUN	
PER	IDN	
PER	IND	
PER	IRL	
PER	IRN	
PER	ITA	
PER	JOR	
PER	JPN	
PER	KEN	
PER	KOR	
PER	KWT	
PER	LKA	
PER	LVA	
PER	MAC	
PER	MAR	
PER	MDA	
PER	MEX	
PER	MWI	
PER	MYS	
PER	NLD	
PER	NOR	
PER	NPL	
PER	NZL	
PER	PAK	
PER	PAN	
PER	PHL	
PER	POL	
PER	PRT	
PER	ROM	
PER	SGP	
PER	SWE	
PER	THA	
PER	TTO	
PER	TUR	
PER	TWN	
PER	URY	
PER	USA	
PER	VEN	
PER	ZAF	
PHL	ARG	
PHL	ARM	
PHL	AUS	
PHL	AUT	
PHL	BGD	
PHL	BGR	
PHL	BOL	
PHL	CAN	
PHL	CHL	
PHL	CHN	
PHL	CMR	
PHL	COL	
PHL	CRI	
PHL	CYP	
PHL	GER	
PHL	DNK	
PHL	ECU	
PHL	EGY	
PHL	ESP	
PHL	FIN	
PHL	FRA	
PHL	GBR	
PHL	GRC	
PHL	GTM	
PHL	HKG	
PHL	HND	
PHL	HUN	
PHL	IDN	
PHL	IND	
PHL	IRL	
PHL	IRN	
PHL	ITA	
PHL	JOR	
PHL	JPN	
PHL	KEN	
PHL	KOR	
PHL	KWT	
PHL	LKA	
PHL	LVA	
PHL	MAC	
PHL	MAR	
PHL	MDA	
PHL	MEX	
PHL	MWI	
PHL	MYS	
PHL	NLD	
PHL	NOR	
PHL	NPL	
PHL	NZL	
PHL	PAK	
PHL	PAN	
PHL	PER	
PHL	POL	
PHL	PRT	
PHL	ROM	
PHL	SGP	
PHL	SWE	
PHL	THA	
PHL	TTO	
PHL	TUR	
PHL	TWN	
PHL	URY	
PHL	USA	
PHL	VEN	
PHL	ZAF	
POL	ARG	
POL	ARM	
POL	AUS	
POL	AUT	
POL	BGD	
POL	BGR	
POL	BOL	
POL	CAN	
POL	CHL	
POL	CHN	
POL	CMR	
POL	COL	
POL	CRI	
POL	CYP	
POL	GER	
POL	DNK	
POL	ECU	
POL	EGY	
POL	ESP	
POL	FIN	
POL	FRA	
POL	GBR	
POL	GRC	
POL	GTM	
POL	HKG	
POL	HND	
POL	HUN	
POL	IDN	
POL	IND	
POL	IRL	
POL	IRN	
POL	ITA	
POL	JOR	
POL	JPN	
POL	KEN	
POL	KOR	
POL	KWT	
POL	LKA	
POL	LVA	
POL	MAC	
POL	MAR	
POL	MDA	
POL	MEX	
POL	MWI	
POL	MYS	
POL	NLD	
POL	NOR	
POL	NPL	
POL	NZL	
POL	PAK	
POL	PAN	
POL	PER	
POL	PHL	
POL	PRT	
POL	ROM	
POL	SGP	
POL	SWE	
POL	THA	
POL	TTO	
POL	TUR	
POL	TWN	
POL	URY	
POL	USA	
POL	VEN	
POL	ZAF	
PRT	ARG	
PRT	ARM	
PRT	AUS	
PRT	AUT	
PRT	BGD	
PRT	BGR	
PRT	BOL	
PRT	CAN	
PRT	CHL	
PRT	CHN	
PRT	CMR	
PRT	COL	
PRT	CRI	
PRT	CYP	
PRT	GER	
PRT	DNK	
PRT	ECU	
PRT	EGY	
PRT	ESP	
PRT	FIN	
PRT	FRA	
PRT	GBR	
PRT	GRC	
PRT	GTM	
PRT	HKG	
PRT	HND	
PRT	HUN	
PRT	IDN	
PRT	IND	
PRT	IRL	
PRT	IRN	
PRT	ITA	
PRT	JOR	
PRT	JPN	
PRT	KEN	
PRT	KOR	
PRT	KWT	
PRT	LKA	
PRT	LVA	
PRT	MAC	
PRT	MAR	
PRT	MDA	
PRT	MEX	
PRT	MWI	
PRT	MYS	
PRT	NLD	
PRT	NOR	
PRT	NPL	
PRT	NZL	
PRT	PAK	
PRT	PAN	
PRT	PER	
PRT	PHL	
PRT	POL	
PRT	ROM	
PRT	SGP	
PRT	SWE	
PRT	THA	
PRT	TTO	
PRT	TUR	
PRT	TWN	
PRT	URY	
PRT	USA	
PRT	VEN	
PRT	ZAF	
ROM	ARG	
ROM	ARM	
ROM	AUS	
ROM	AUT	
ROM	BGD	
ROM	BGR	
ROM	BOL	
ROM	CAN	
ROM	CHL	
ROM	CHN	
ROM	CMR	
ROM	COL	
ROM	CRI	
ROM	CYP	
ROM	GER	
ROM	DNK	
ROM	ECU	
ROM	EGY	
ROM	ESP	
ROM	FIN	
ROM	FRA	
ROM	GBR	
ROM	GRC	
ROM	GTM	
ROM	HKG	
ROM	HND	
ROM	HUN	
ROM	IDN	
ROM	IND	
ROM	IRL	
ROM	IRN	
ROM	ITA	
ROM	JOR	
ROM	JPN	
ROM	KEN	
ROM	KOR	
ROM	KWT	
ROM	LKA	
ROM	LVA	
ROM	MAC	
ROM	MAR	
ROM	MDA	
ROM	MEX	
ROM	MWI	
ROM	MYS	
ROM	NLD	
ROM	NOR	
ROM	NPL	
ROM	NZL	
ROM	PAK	
ROM	PAN	
ROM	PER	
ROM	PHL	
ROM	POL	
ROM	PRT	
ROM	SGP	
ROM	SWE	
ROM	THA	
ROM	TTO	
ROM	TUR	
ROM	TWN	
ROM	URY	
ROM	USA	
ROM	VEN	
ROM	ZAF	
SGP	ARG	
SGP	ARM	
SGP	AUS	
SGP	AUT	
SGP	BGD	
SGP	BGR	
SGP	BOL	
SGP	CAN	
SGP	CHL	
SGP	CHN	
SGP	CMR	
SGP	COL	
SGP	CRI	
SGP	CYP	
SGP	GER	
SGP	DNK	
SGP	ECU	
SGP	EGY	
SGP	ESP	
SGP	FIN	
SGP	FRA	
SGP	GBR	
SGP	GRC	
SGP	GTM	
SGP	HKG	
SGP	HND	
SGP	HUN	
SGP	IDN	
SGP	IND	
SGP	IRL	
SGP	IRN	
SGP	ITA	
SGP	JOR	
SGP	JPN	
SGP	KEN	
SGP	KOR	
SGP	KWT	
SGP	LKA	
SGP	LVA	
SGP	MAC	
SGP	MAR	
SGP	MDA	
SGP	MEX	
SGP	MWI	
SGP	MYS	
SGP	NLD	
SGP	NOR	
SGP	NPL	
SGP	NZL	
SGP	PAK	
SGP	PAN	
SGP	PER	
SGP	PHL	
SGP	POL	
SGP	PRT	
SGP	ROM	
SGP	SWE	
SGP	THA	
SGP	TTO	
SGP	TUR	
SGP	TWN	
SGP	URY	
SGP	USA	
SGP	VEN	
SGP	ZAF	
SWE	ARG	
SWE	ARM	
SWE	AUS	
SWE	AUT	
SWE	BGD	
SWE	BGR	
SWE	BOL	
SWE	CAN	
SWE	CHL	
SWE	CHN	
SWE	CMR	
SWE	COL	
SWE	CRI	
SWE	CYP	
SWE	GER	
SWE	DNK	
SWE	ECU	
SWE	EGY	
SWE	ESP	
SWE	FIN	
SWE	FRA	
SWE	GBR	
SWE	GRC	
SWE	GTM	
SWE	HKG	
SWE	HND	
SWE	HUN	
SWE	IDN	
SWE	IND	
SWE	IRL	
SWE	IRN	
SWE	ITA	
SWE	JOR	
SWE	JPN	
SWE	KEN	
SWE	KOR	
SWE	KWT	
SWE	LKA	
SWE	LVA	
SWE	MAC	
SWE	MAR	
SWE	MDA	
SWE	MEX	
SWE	MWI	
SWE	MYS	
SWE	NLD	
SWE	NOR	
SWE	NPL	
SWE	NZL	
SWE	PAK	
SWE	PAN	
SWE	PER	
SWE	PHL	
SWE	POL	
SWE	PRT	
SWE	ROM	
SWE	SGP	
SWE	THA	
SWE	TTO	
SWE	TUR	
SWE	TWN	
SWE	URY	
SWE	USA	
SWE	VEN	
SWE	ZAF	
THA	ARG	
THA	ARM	
THA	AUS	
THA	AUT	
THA	BGD	
THA	BGR	
THA	BOL	
THA	CAN	
THA	CHL	
THA	CHN	
THA	CMR	
THA	COL	
THA	CRI	
THA	CYP	
THA	GER	
THA	DNK	
THA	ECU	
THA	EGY	
THA	ESP	
THA	FIN	
THA	FRA	
THA	GBR	
THA	GRC	
THA	GTM	
THA	HKG	
THA	HND	
THA	HUN	
THA	IDN	
THA	IND	
THA	IRL	
THA	IRN	
THA	ITA	
THA	JOR	
THA	JPN	
THA	KEN	
THA	KOR	
THA	KWT	
THA	LKA	
THA	LVA	
THA	MAC	
THA	MAR	
THA	MDA	
THA	MEX	
THA	MWI	
THA	MYS	
THA	NLD	
THA	NOR	
THA	NPL	
THA	NZL	
THA	PAK	
THA	PAN	
THA	PER	
THA	PHL	
THA	POL	
THA	PRT	
THA	ROM	
THA	SGP	
THA	SWE	
THA	TTO	
THA	TUR	
THA	TWN	
THA	URY	
THA	USA	
THA	VEN	
THA	ZAF	
TTO	ARG	
TTO	ARM	
TTO	AUS	
TTO	AUT	
TTO	BGD	
TTO	BGR	
TTO	BOL	
TTO	CAN	
TTO	CHL	
TTO	CHN	
TTO	CMR	
TTO	COL	
TTO	CRI	
TTO	CYP	
TTO	GER	
TTO	DNK	
TTO	ECU	
TTO	EGY	
TTO	ESP	
TTO	FIN	
TTO	FRA	
TTO	GBR	
TTO	GRC	
TTO	GTM	
TTO	HKG	
TTO	HND	
TTO	HUN	
TTO	IDN	
TTO	IND	
TTO	IRL	
TTO	IRN	
TTO	ITA	
TTO	JOR	
TTO	JPN	
TTO	KEN	
TTO	KOR	
TTO	KWT	
TTO	LKA	
TTO	LVA	
TTO	MAC	
TTO	MAR	
TTO	MDA	
TTO	MEX	
TTO	MWI	
TTO	MYS	
TTO	NLD	
TTO	NOR	
TTO	NPL	
TTO	NZL	
TTO	PAK	
TTO	PAN	
TTO	PER	
TTO	PHL	
TTO	POL	
TTO	PRT	
TTO	ROM	
TTO	SGP	
TTO	SWE	
TTO	THA	
TTO	TUR	
TTO	TWN	
TTO	URY	
TTO	USA	
TTO	VEN	
TTO	ZAF	
TUR	ARG	
TUR	ARM	
TUR	AUS	
TUR	AUT	
TUR	BGD	
TUR	BGR	
TUR	BOL	
TUR	CAN	
TUR	CHL	
TUR	CHN	
TUR	CMR	
TUR	COL	
TUR	CRI	
TUR	CYP	
TUR	GER	
TUR	DNK	
TUR	ECU	
TUR	EGY	
TUR	ESP	
TUR	FIN	
TUR	FRA	
TUR	GBR	
TUR	GRC	
TUR	GTM	
TUR	HKG	
TUR	HND	
TUR	HUN	
TUR	IDN	
TUR	IND	
TUR	IRL	
TUR	IRN	
TUR	ITA	
TUR	JOR	
TUR	JPN	
TUR	KEN	
TUR	KOR	
TUR	KWT	
TUR	LKA	
TUR	LVA	
TUR	MAC	
TUR	MAR	
TUR	MDA	
TUR	MEX	
TUR	MWI	
TUR	MYS	
TUR	NLD	
TUR	NOR	
TUR	NPL	
TUR	NZL	
TUR	PAK	
TUR	PAN	
TUR	PER	
TUR	PHL	
TUR	POL	
TUR	PRT	
TUR	ROM	
TUR	SGP	
TUR	SWE	
TUR	THA	
TUR	TTO	
TUR	TWN	
TUR	URY	
TUR	USA	
TUR	VEN	
TUR	ZAF	
TWN	ARG	
TWN	ARM	
TWN	AUS	
TWN	AUT	
TWN	BGD	
TWN	BGR	
TWN	BOL	
TWN	CAN	
TWN	CHL	
TWN	CHN	
TWN	CMR	
TWN	COL	
TWN	CRI	
TWN	CYP	
TWN	GER	
TWN	DNK	
TWN	ECU	
TWN	EGY	
TWN	ESP	
TWN	FIN	
TWN	FRA	
TWN	GBR	
TWN	GRC	
TWN	GTM	
TWN	HKG	
TWN	HND	
TWN	HUN	
TWN	IDN	
TWN	IND	
TWN	IRL	
TWN	IRN	
TWN	ITA	
TWN	JOR	
TWN	JPN	
TWN	KEN	
TWN	KOR	
TWN	KWT	
TWN	LKA	
TWN	LVA	
TWN	MAC	
TWN	MAR	
TWN	MDA	
TWN	MEX	
TWN	MWI	
TWN	MYS	
TWN	NLD	
TWN	NOR	
TWN	NPL	
TWN	NZL	
TWN	PAK	
TWN	PAN	
TWN	PER	
TWN	PHL	
TWN	POL	
TWN	PRT	
TWN	ROM	
TWN	SGP	
TWN	SWE	
TWN	THA	
TWN	TTO	
TWN	TUR	
TWN	URY	
TWN	USA	
TWN	VEN	
TWN	ZAF	
URY	ARG	
URY	ARM	
URY	AUS	
URY	AUT	
URY	BGD	
URY	BGR	
URY	BOL	
URY	CAN	
URY	CHL	
URY	CHN	
URY	CMR	
URY	COL	
URY	CRI	
URY	CYP	
URY	GER	
URY	DNK	
URY	ECU	
URY	EGY	
URY	ESP	
URY	FIN	
URY	FRA	
URY	GBR	
URY	GRC	
URY	GTM	
URY	HKG	
URY	HND	
URY	HUN	
URY	IDN	
URY	IND	
URY	IRL	
URY	IRN	
URY	ITA	
URY	JOR	
URY	JPN	
URY	KEN	
URY	KOR	
URY	KWT	
URY	LKA	
URY	LVA	
URY	MAC	
URY	MAR	
URY	MDA	
URY	MEX	
URY	MWI	
URY	MYS	
URY	NLD	
URY	NOR	
URY	NPL	
URY	NZL	
URY	PAK	
URY	PAN	
URY	PER	
URY	PHL	
URY	POL	
URY	PRT	
URY	ROM	
URY	SGP	
URY	SWE	
URY	THA	
URY	TTO	
URY	TUR	
URY	TWN	
URY	USA	
URY	VEN	
URY	ZAF	
USA	ARG	
USA	ARM	
USA	AUS	
USA	AUT	
USA	BGD	
USA	BGR	
USA	BOL	
USA	CAN	
USA	CHL	
USA	CHN	
USA	CMR	
USA	COL	
USA	CRI	
USA	CYP	
USA	GER	
USA	DNK	
USA	ECU	
USA	EGY	
USA	ESP	
USA	FIN	
USA	FRA	
USA	GBR	
USA	GRC	
USA	GTM	
USA	HKG	
USA	HND	
USA	HUN	
USA	IDN	
USA	IND	
USA	IRL	
USA	IRN	
USA	ITA	
USA	JOR	
USA	JPN	
USA	KEN	
USA	KOR	
USA	KWT	
USA	LKA	
USA	LVA	
USA	MAC	
USA	MAR	
USA	MDA	
USA	MEX	
USA	MWI	
USA	MYS	
USA	NLD	
USA	NOR	
USA	NPL	
USA	NZL	
USA	PAK	
USA	PAN	
USA	PER	
USA	PHL	
USA	POL	
USA	PRT	
USA	ROM	
USA	SGP	
USA	SWE	
USA	THA	
USA	TTO	
USA	TUR	
USA	TWN	
USA	URY	
USA	VEN	
USA	ZAF	
VEN	ARG	
VEN	ARM	
VEN	AUS	
VEN	AUT	
VEN	BGD	
VEN	BGR	
VEN	BOL	
VEN	CAN	
VEN	CHL	
VEN	CHN	
VEN	CMR	
VEN	COL	
VEN	CRI	
VEN	CYP	
VEN	DNK	
VEN	ECU	
VEN	EGY	
VEN	ESP	
VEN	FIN	
VEN	FRA	
VEN	GBR	
VEN	GER	
VEN	GRC	
VEN	GTM	
VEN	HKG	
VEN	HND	
VEN	HUN	
VEN	IDN	
VEN	IND	
VEN	IRL	
VEN	IRN	
VEN	ITA	
VEN	JOR	
VEN	JPN	
VEN	KEN	
VEN	KOR	
VEN	KWT	
VEN	LKA	
VEN	LVA	
VEN	MAC	
VEN	MAR	
VEN	MDA	
VEN	MEX	
VEN	MWI	
VEN	MYS	
VEN	NLD	
VEN	NOR	
VEN	NPL	
VEN	NZL	
VEN	PAK	
VEN	PAN	
VEN	PER	
VEN	PHL	
VEN	POL	
VEN	PRT	
VEN	ROM	
VEN	SGP	
VEN	SWE	
VEN	THA	
VEN	TTO	
VEN	TUR	
VEN	TWN	
VEN	URY	
VEN	USA	
VEN	ZAF	
ZAF	ARG	
ZAF	ARM	
ZAF	AUS	
ZAF	AUT	
ZAF	BGD	
ZAF	BGR	
ZAF	BOL	
ZAF	CAN	
ZAF	CHL	
ZAF	CHN	
ZAF	CMR	
ZAF	COL	
ZAF	CRI	
ZAF	CYP	
ZAF	GER	
ZAF	DNK	
ZAF	ECU	
ZAF	EGY	
ZAF	ESP	
ZAF	FIN	
ZAF	FRA	
ZAF	GBR	
ZAF	GRC	
ZAF	GTM	
ZAF	HKG	
ZAF	HND	
ZAF	HUN	
ZAF	IDN	
ZAF	IND	
ZAF	IRL	
ZAF	IRN	
ZAF	ITA	
ZAF	JOR	
ZAF	JPN	
ZAF	KEN	
ZAF	KOR	
ZAF	KWT	
ZAF	LKA	
ZAF	LVA	
ZAF	MAC	
ZAF	MAR	
ZAF	MDA	
ZAF	MEX	
ZAF	MWI	
ZAF	MYS	
ZAF	NLD	
ZAF	NOR	
ZAF	NPL	
ZAF	NZL	
ZAF	PAK	
ZAF	PAN	
ZAF	PER	
ZAF	PHL	
ZAF	POL	
ZAF	PRT	
ZAF	ROM	
ZAF	SGP	
ZAF	SWE	
ZAF	THA	
ZAF	TTO	
ZAF	TUR	
ZAF	TWN	
ZAF	URY	
ZAF	USA	
ZAF	VEN	
